apiVersion: apps/v1
kind: Deployment
metadata:
  name: shbr-echo
spec:
  replicas: 3
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: shbr-echo
  template:
    metadata:
      labels:
        app: shbr-echo
    spec:
      containers:
        - image: cr.yandex/crpo6t63ueuf0jf6tm5a/shbr-01-package-docker:latest
          imagePullPolicy: "Always"
          name: shbr-echo
          env:
            - name: PREFIX
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: RESTART
              value: "1"
      restartPolicy: Always
