java/HELP.md
java/.gradle
java/build/
!java/gradle/wrapper/gradle-wrapper.jar
!java/**/src/main/**/build/
!java/**/src/test/**/build/

### STS ###
java/.apt_generated
java/.classpath
java/.factorypath
java/.project
java/.settings
java/.springBeans
java/.sts4-cache
java/bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
java/.idea
java/*.iws
java/*.iml
java/*.ipr
java/out/
!java/**/src/main/**/out/
!java/**/src/test/**/out/