[Unit]
Description=shbr-echo-java
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/java -jar /usr/bin/shbr-echo.jar

[Install]
WantedBy=multi-user.target