.vagrant
shbr-echo_1.0.0-1_amd64.*
shbr-echo-dbgsym*
shbr-echo/build/*
!shbr-echo/build/build.sh
!shbr-echo/build/clean.sh
!shbr-echo/build/install.sh
!shbr-echo/build/debian/changelog
!shbr-echo/build/debian/compat
!shbr-echo/build/debian/control
!shbr-echo/build/debian/rules